@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  /* background-color: #00081f; */
  background-color: #000b2d;
}

.arrow_up_gradient{
  /* background: transparent linear-gradient(#05133e,#1c2d5f 0,#122153 51%,#081c61) 0 0 no-repeat padding-box; */
  background: transparent linear-gradient(360deg, #1b3173, #1c2d5f, #12214e 51%, #061440) no-repeat padding-box;
  
}

.navbar_bg{
  background: linear-gradient(to top, rgb(0, 8, 31) 0%, rgba(0, 0, 0, 0.57) 100%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


.custom-clip_path{
  clip-path: inset(50% 0 50%);

  transition: clip-path .4s;
}

/* main_cta_button */
.main_cta_button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #000b2d;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.main_cta_button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.main_cta_button:hover .button__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.main_cta_button:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}
/* end-main_cta_button */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
